body{
    display: flex;
    justify-content: center;
}
.parent{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    padding: 5px;
    background-color: rgb(250, 123, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 40px;
    width: 40px;
    background-color: darkslategray;
}