body{
    background-image: url(https://spiffy-fire-8ed.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F00607fab-2ebf-48a1-9db6-4b992ec36984%2Fa6ef9fae-ee41-48e3-a298-06f4ce87f407%2FUntitled.png?table=block&id=10c4829e-1539-41e8-835e-06df8d7c42a3&spaceId=00607fab-2ebf-48a1-9db6-4b992ec36984&width=1250&userId=&cache=v2);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    height: 550px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

h3{
    text-align: center;
}

.details{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: max-content;
    padding-bottom: 30px;
}

p{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 2px;
}

input{
    background-color: lightgray;
    height: 20px;
    width: 350px;
    padding: 2px;
    border: none;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 2px;
    padding: 10px;
}

.button{
    display: flex;
    justify-content: center;
}

button{
    height: 40px;
    width: 370px;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    border: 0px;
    margin: 20px;
}